[Desktop Entry]
Type=Application
Version=1.0

Name=Sleepyhead
Comment=the game :)

Path=/app/bin/socks
Exec=/app/bin/socks
Icon=io.itch.darltrash.sleepyhead
Terminal=false
Categories=Entertainment
