[Desktop Entry]
Type=Application
Version=1.0

Name=Sleepyhead
Comment=the game :)

Path=io.itch.darltrash.sleepyhead
Exec=io.itch.darltrash.sleepyhead
Icon=io.itch.darltrash.sleepyhead
Terminal=false
Categories=Entertainment
